.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 1.5s;
}
/* .box:hover {
    width: 300px;
    background-color: royalblue;
} */

.box:active {
    width: 300px;
    background-color: royalblue;
}